<header class="fixed top-0 left-0 w-full z-50 transition-all duration-400 py-5">
  <div class="max-w-[1024px] mx-auto flex justify-center items-center">
    <nav class="flex gap-x-3 md:gap-x-10">
      <a class="hover:underline active:underline" href="#top">Inicio</a>
      <a class="hover:underline active:underline" href="#sobre-mi">Sobre mí</a>
      <a class="hover:underline active:underline" href="#experiencia">Experiencia</a>
      <a class="hover:underline active:underline" href="#proyectos">Proyectos</a>
      <a class="hover:underline active:underline" href="#contacto">Contacto</a>
    </nav>
  </div>
</header>