---
const {class : className, id} = Astro.props;
---

<section id={id} class={` pb-10 pl-2 pr-2 md:pl-15 md:pr-3 w-full items-center mb-5 md:mb-15 mx-auto md:w-[740px] ${className}`}>
    <slot />
</section>